@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.post-searchbar{
  padding-top: 56px;
}
.posts-searchbox{
  margin-bottom: 10px;
}
@media (max-width: 600px) {
  .post-card-cover{
    width: 100%;
  }
  .post-cover-div{
    width: 100%;
  }
  .post-searchbar {
    padding-inline: 10px;
    padding-top: 46px; /* Reduced on small screens */
  }
}

@media (max-width: 600px) {
  .posts-searchbox {
    top: 56px; /* Reduced on small screens */
  }
}

/*  */